$primary-color: #000000;
$secondary-color: rgba(180, 19, 19, 0.589);




.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  color: $primary-color;
}





//Media Queries
//Small screens
@media(max-width: 576px) {
  
  
}

//Medium Screens
@media(min-width: 577px) and (max-width:768px) {

}

//Large Screens
@media(min-width:769) and (max-width: 1100 px) {

}

//X=Large Screens
@media(min-width:1100) and (max-width: 1280 px) {

}